dist: xenial
language: python
python:
  - 3.6
  - 3.7
  - &latest_py3 3.8

jobs:
  fast_finish: true
  include:
  - python: *latest_py3
    env: LANG=C
  - stage: deploy (to PyPI for tagged commits)
    if: tag IS present
    python: *latest_py3
    install: skip
    script: skip
    after_success: true
    before_deploy:
    - python setup.py sdist bdist_wheel
    deploy:
      provider: pypi
      user: voxpupuliorg
      distributions: sdist bdist_wheel
      skip_cleanup: true
      skip_upload_docs: true
      password:
        secure: "Y3m9wGTi+hU6+WTY2f1rkoP/mDtLjy7iQ0NMXSExbXhwI7B1LVYoUZVojvgOLrpoYTWpsWSi/mQDdaBtGuoV/guvExcMVnF3KzJ6B8Tg2V0nfnxqnE6eyyvOFmYxy+iHa6Cph8mpZO4kGfY0owMpVlcdVK7itamr7FsvNc8HHts="
      on:
        tags: true
        all_branches: true

cache: pip

install:
  - pip install -r requirements-test.txt
script:
  - pytest --pep8
  - bandit -r puppetboard
after_success:
  - coveralls
notifications:
  email: false
  irc:
    on_success: always
    on_failure: always
    channels:
      - "chat.freenode.org#voxpupuli-notifications"
