-r requirements.txt
pep8==1.7.1
coverage==7.0.3
mock==5.0.0
pytest==7.2.0
pylint==2.15.9
pytest-pylint==0.19.0
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-mypy==0.10.3
pytest-randomly==3.12.0
cov-core==1.15.0
beautifulsoup4==4.11.1
bandit==1.7.4
mypy==0.991
types-requests==2.28.11.7
types-setuptools==65.6.0.2
types-toml==0.10.8.1
