-r requirements.txt
pep8==1.7.1
coverage==7.9.1
mock==5.2.0
pytest==8.4.0
pylint==3.3.7
pytest-pylint==0.21.0
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest-mypy==1.0.1
pytest-randomly==3.16.0
cov-core==1.15.0
beautifulsoup4==4.13.4
bandit==1.8.3
mypy==1.16.0
types-requests==2.32.4.20250611
types-setuptools==80.9.0.20250529
types-toml==0.10.8.20240310
