certifi==2026.1.4
charset-normalizer==3.4.4
click==8.1.8
commonmark==0.9.1
Flask==3.1.2
Flask-APScheduler==1.13.1
Flask-Caching==2.3.1
Flask-WTF==1.2.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pyparsing==3.3.2
pypuppetdb==3.2.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
WTForms==3.2.1
zipp==3.23.0
