{% macro facts_table(facts, current_env, autofocus=False, condensed=False, show_node=False, show_value=True, link_facts=False, margin_top=20, margin_bottom=20) -%}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input {% if autofocus %} autofocus="autofocus" {% endif %} class="filter-table" placeholder="Type here to filter...">
</div>
<table class="ui very basic {% if condensed %}very{% endif%} compact sortable table" style="table-layout: fixed;">
  <thead>
    <tr>
      {% if show_node %}
      <th>Node</th>
      {% else %}
      <th class="default-sort">Fact</th>
      {% endif %}
      {% if show_value %}
      <th>Value</th>
      {% endif %}
    </tr>
  </thead>
  <tbody class="searchable">
    {% for fact in facts %}
    <tr>
      {% if show_node %}
        <td><a href="{{url_for('node', env=current_env, node_name=fact.node)}}">{{fact.node}}</a></td>
      {% else %}
        <td><a href="{{url_for('fact', env=current_env, fact=fact.name)}}">{{fact.name}}</a></td>
      {% endif %}
      {% if show_value %}
      <td style="word-wrap:break-word">
        {% if link_facts %}
          {% if fact.value is mapping %}
            <a href="{{url_for('fact_value', env=current_env, fact=fact.name, value=fact.value)}}"><pre>{{fact.value|jsonprint}}</pre></a>
          {% else %}
            <a href="{{url_for('fact_value', env=current_env, fact=fact.name, value=fact.value)}}">{{fact.value}}</a>
          {% endif %}
        {% else %}
          {% if fact.value is mapping %}
            <pre>{{fact.value|jsonprint}}</pre>
          {% else %}
            {{fact.value}}
          {% endif %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
{% macro facts_graph(facts, autofocus=False, condensed=False, show_node=False, margin_top=20, margin_bottom=20) -%}
<script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/c3.min.js')}}"></script>
<div id="factChart" width="300" height="300"></div>
<script type="text/javascript">
  var data = [
{% for fact in facts|groupby('value') %}
    {
    label: '{{ fact.grouper.replace("\n", " ") }}',
    value: {{ fact.list|length }}
    },
{% endfor %}
    {
    value: 0,
    }
  ]
  var fact_values = data.map(function(item) { return [item.label, item.value]; }).filter(function(item){return item[0];}).sort(function(a,b){return b[1] - a[1];});
  var realdata = fact_values.slice(0, 15);
  var otherdata = fact_values.slice(15);
  if (otherdata.length > 0) {
    realdata.push(["other", otherdata.reduce(function(a,b){return a + b[1];},0)]);
  }
  var chart = c3.generate({
      bindto: '#factChart',
      data: {
          columns: realdata,
          type : 'pie',
      }
  });

</script>
{%- endmacro %}

{% macro reports_table(reports, reports_count, report_event_counts, current_env, condensed=False, hash_truncate=False, show_conf_col=True, show_agent_col=True, show_host_col=True, show_run_col=False, show_full_col=False, show_search_bar=False, searchable=False) -%}
{% if show_search_bar %}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-table" placeholder="Type here to filter...">
</div>
{% endif %}
<div class="ui info message">

  Only showing {{reports_count}} reports sorted by Start Time.

</div>
<table class='ui very basic {% if condensed %}very compact{% endif %} table stackable sortable table'>
  <thead>
    <tr>
      <th class="default-sort">Start time</th>
      <th>Status</th>
      {% if show_host_col %}
        <th>Hostname</th>
      {% endif %}
      {% if show_run_col %}
      <th>Run time</th>
      {% endif %}
      {% if show_full_col %}
      <th>Full report</th>
      {% endif %}
      {% if show_conf_col %}
        <th>Configuration version</th>
      {% endif %}
      {% if show_agent_col %}
        <th>Agent version</th>
      {% endif %}
    <tr>
  </thead>
  <tbody {% if searchable %}class="searchable" {% endif %}>
  {% for report in reports %}
    {% if hash_truncate %}
    {% set rep_hash = "%s&hellip;"|format(report.hash_[0:10])|safe %}
    {% else %}
    {% set rep_hash = report.hash_ %}
    {% endif %}
    {% if report.failed %}
    <tr class="error">
    {% else %}
    <tr>
    {% endif %}
      <td rel="utctimestamp">{{report.start}}</td>
      <td>
        {% call status_counts(status=report.status, node_name=report.node, events=report_event_counts[report.hash_], report_hash=report.hash_, current_env=current_env) %}{% endcall %}
      </td>
      {% if show_host_col %}
        <td><a href="{{url_for('node', env=current_env, node_name=report.node)}}">{{ report.node }}</a></td>
      {% endif %}
      {% if show_run_col %}
      <td>{{report.run_time}}</td>
      {% endif %}
      {% if show_full_col %}
      <td><a href="{{url_for('report', env=current_env, node_name=report.node, report_id=report.hash_)}}">{{rep_hash}}</a></td>
      {% endif %}
      {% if show_conf_col %}
        <td>{{report.version}}</td>
      {% endif %}
      {% if show_agent_col %}
        <td>{{report.agent_version}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
{% macro status_counts(caller, status, node_name, events, current_env, unreported_time=False, report_hash=False) -%}
  <a class="ui
    {% if status == 'failed' -%}
      failed
    {% elif status == 'changed' -%}
      changed
    {% elif status == 'unreported' -%}
      unreported
    {% elif status == 'noop' -%}
      noop
    {% elif status == 'unchanged' -%}
      unchanged
    {% endif -%}
  label status" href="
    {{url_for('report', env=current_env, node_name=node_name, report_id=report_hash)}}
  ">
    {{ status|upper }}
  </a>
  {% if status == 'unreported' %}
    <span class="ui label status"> {{ unreported_time|upper }} </span>
  {% else %}
    {% if events['failures'] %}<span class="ui small count label failed">{{events['failures']}}</span>{% else %}<span class="ui small count label">0</span>{% endif%}
    {% if events['successes'] %}<span class="ui small count label changed">{{events['successes']}}</span>{% else %}<span class="ui small count label">0</span>{% endif%}
    {% if events['skips'] %}<span class="ui small count label skipped">{{events['skips']}}</span>{% else %}<span class="ui small count label">0</span>{% endif%}
  {% endif %}
{%- endmacro %}
{% macro render_pagination(pagination) -%}
  <div class="ui pagination menu">
  {% if pagination.has_prev %}
    <a class="item" href="{{url_for_field('page', 1)}}">&laquo; First</a>
    <a class="item" href="{{url_for_field('page', pagination.page - 1)}}">Prev</a>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="item" href="{{url_for_field('page', page)}}">{{page}}</a>
      {% else %}
        <a class="active item">{{page}}</a>
      {% endif %}
    {% else %}
      <a class="disabled item">...</a>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <a class="item" href="{{url_for_field('page', pagination.page + 1)}}">Next</a>
    <a class="item" href="{{url_for_field('page', pagination.pages)}}">Last &raquo;</a>
  {% endif %}
  </div>
{% endmacro %}
