{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-table" placeholder="Type here to filter...">
</div>
<table class='ui very basic very compact table nodes'>
  <thead>
    <tr>
      <th></th>
      <th>Certname</th>
      <th>Compile Time</th>
      <th>Compare With</th>
    </tr>
  </thead>
  <tbody class="searchable">
    {% for node in nodes %}
      <tr>
          <td></td>
          <td><a href="{{url_for('node', env=current_env, node_name=node.name)}}">{{node.name}}</a></td>
          <td><a rel="utctimestamp" href="{{url_for('catalog_node', env=current_env, node_name=node.name)}}">{{node.catalog_timestamp}}</a></td>
          <td>
            {% if node.form %}
              <div class="ui action input">
                <form method="POST" action="{{url_for('catalog_submit', env=current_env)}}">
                  {{node.form.csrf_token}}
                  <div class="field inline">
                    {{node.form.compare}}
                    {{node.form.against}}
                    <input type="submit" class="ui submit button" style="height:auto;" value="Compare"/>
                  </div>
                </form>
              </div>
            {% endif %}
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
