{% extends 'layout.html' %}
{% block content %}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-list" placeholder="Type here to filter...">
</div>
<div style="-moz-column-count:4; -webkit-column-count:4; column-count:4;">
  {%- for key,facts_list in facts_dict %}
  <span class='ui label darkblue'>{{key}}</span>
  <ul class="searchable">
    {%- for fact in facts_list %}
    <li><a href="{{url_for('fact', env=current_env, fact=fact)}}">{{fact}}</a></li>
    {%- endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock content %}
