{% extends 'layout.html' %}
{% block row_fluid %}
<div class="container" style="margin-bottom:55px;">
  <div class="row">
    <h2>Statistics</h2>
    <hr />
  </div>
  <div class="row">
    <div class="span12">
      <div class="span4 stat">
        <h1 class="error">{{latest_event_count['failures']}} <small>Failed</small></h1>
        <span>nodes in the latest reports</span>
      </div>
      <div class="span4 stat">
        <h1 class="success">{{latest_event_count['successes']}} <small>Succeeded</small></h1>
        <span>nodes in the latest reports</span>
      </div>
      <div class="span4 stat">
        <h1 class="noop">{{ unreported|length }} <small>Unreported</small></h1>
        <span>nodes in the last {{ unreported_time }} hours</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="span4 stat">
        <h1>{{metrics['num_nodes']}}</h1>
        <span>Population</span>
      </div>
      <div class="span4 stat">
        <h1>{{metrics['num_resources']}}</h1>
        <span>Resources managed</span>
      </div>
      <div class="span4 stat">
        <h1>{{metrics['avg_resources_node']}}</h1>
        <span>Avg. resources/node</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="span4 stat">
        <h1>{{metrics['mean_failed_commands']}}</h1>
        <span>Mean command failures</span>
      </div>
      <div class="span4 stat offset4">
        <h1>{{metrics['mean_command_time']}}s</h1>
        <span>Mean command execution time</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Nodes without Report since {{ unreported_time }} hours</h2>
    	<table class='nodes table table-striped table-condensed'>
	      <tbody class="searchable">
	        {% for node in unreported %}
    	    <tr>
            <td style="width:110px;"><span class="label label-important">No Report</span></td>
            <td>{{ node.noresponse }}</td>
            <td><a href="{{url_for('node', node_name=node.name)}}">{{ node.name }}</a></td>
            <td style="width:120px;"><a class="btn btn-small btn-primary" href="{{url_for('report_latest', node_name=node.name)}}">Latest Report</a></td>
	        </tr>
    	    {% endfor %}
    	  </tbody>
    	</table>
      <h2>Latest Reports with events</h2>
    	<table class='nodes table table-striped table-condensed'>
    	  <tbody class="searchable">
    	    {% for event in latest_events %}
	        <tr>
            <td style="width:110px;">
              {% if event['failures'] %}<span class="label label-important numtag">{{event['failures']}}</span>{% else %}<span class="label numtag">0</span>{% endif%}
              {% if event['successes'] %}<span class="label label-success numtag">{{event['successes']}}</span>{% else %}<span class="label numtag">0</span>{% endif%}
            </td>
	          <td style="width:700px;"><a href="{{url_for('node', node_name=event['subject']['title'])}}">{{event['subject']['title']}}</a></td>
    	      <td style="width:120px;"><a class="btn btn-small btn-primary" href="{{url_for('report_latest', node_name=event['subject']['title'])}}">Latest Report</a></td>
    	    </tr>
    	    {% endfor %}
    	  </tbody>
    	</table>
    </div>
  </div>
</div>
{% endblock row_fluid %}
