{% extends 'layout.html' %}
{% block content %}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-table" placeholder="Type here to filter...">
</div>
<table class='ui compact very basic sortable table'>
  <thead>
    <tr>
      {% for description in fact_desc %}
      <th>{{description}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="searchable">
    {% for nodename in nodedata %}
    <tr>
      {% for item in nodedata[nodename] %}
      <td>{{item}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
