<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puppetboard</title>
    {% if config.OFFLINE_MODE %}
    <link href="{{ url_for('static', filename='css/semantic.min.css') }}" rel="stylesheet">
    <style>
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'), url({{ url_for('static', filename='fonts/Open_Sans.woff') }}) format('woff');
      }
    </style>
    <link href="{{ url_for('static', filename='css/jquery.tablesorter.filter.formatter.css') }}" rel="stylesheet">
    {% else %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.2/css/filter.formatter.css" rel="stylesheet">
    {% endif %}
    <link href="{{ url_for('static', filename='css/puppetboard.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="ui fixed darkblue inverted menu">
      <div class="title item">
        Puppetboard
      </div>
      {%- for endpoint, caption in [
      ('index', 'Overview'),
      ('nodes', 'Nodes'),
      ('facts', 'Facts'),
      ('reports', 'Reports'),
      ('metrics', 'Metrics'),
      ('inventory', 'Inventory'),
      ('catalogs', 'Catalogs'),
      ('query', 'Query'),
      ] %}
      <a {% if endpoint == request.endpoint %} class="active item" {% else %} class="item" {% endif %}
        href="{{ url_for(endpoint, env=current_env) }}">{{ caption }}</a>
      {%- endfor %}
      <div class="ui item dropdown">
        Environments
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item {% if '*' == current_env %}active{% endif %}" href="{{url_for_environments('*')}}">All environments</a>
          {% for env in envs %}
            <a class="item {% if env == current_env %}active{% endif %}" href="{{url_for_environments(env)}}">{{env}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="item right"><a href="https://github.com/puppet-community/puppetboard" target="_blank">v0.1.1</a></div>
    </div>
    <div class="ui grid padding-bottom">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        {% block content %} {% endblock content %}
      </div>
      <div class="one wide column"></div>
    </div>

    <div id="scroll-btn-top">
      <i class="large arrow up icon"></i>
    </div>

    <footer class="ui absolute fixed bottom">
      <div>
        Copyright &copy; 2013-{{ now('%Y') }} <a href="https://github.com/puppet-community" target="_blank">Puppet Community</a>. <span style="float:right">Live from PuppetDB.</span>
      </div>
    </footer>

    {% if config.OFFLINE_MODE %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    {% if config.LOCALISE_TIMESTAMP %}
      <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    {% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js"></script>
    {% if config.LOCALISE_TIMESTAMP %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.2/jquery.tablesorter.min.js"></script>
    {% endif %}
    {% if config.LOCALISE_TIMESTAMP %}
      <script src="{{ url_for('static', filename='js/timestamps.js')}}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/lists.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.top.js') }}"></script>
    <script type="text/javascript">
      $(".ui.dropdown").dropdown();
    </script>

    {% block script %} {% endblock script %}
  </body>
</html>
