{% extends 'layout.html' %}
{% block content %}
<h1>Metrics</h1>
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-table" placeholder="Type here to filter...">
</div>
<table class='ui very compact very basic sortable table'>
<thead>
  <tr>Metric</tr>
</thead>
<tbody class="searchable">
  {% for metric in metrics %}
  <tr>
    <td><a href="{{url_for('metric', env=current_env, metric=metric)}}">{{metric}}</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock content %}
