{% extends 'layout.html' %}
{% block content %}
<div class="page-header">
  <h1>Metric
    {% set name = "%s&hellip;"|format(name[:75])|safe if name|length > 75%}
    <small>{{name}}</small>
  </h1>
</div>
<table class="table table-striped">
  <tbody>
    {% for key,value in metric %}
    <tr>
      <td>{{key}}</td>
      {% if value is mapping %}
        <td><pre>{{value|jsonprint}}</pre></td>
      {% else %}
        <td>{{value}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
