{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}
<div class='ui two column grid'>
  <div class='column'>
    <div class='row'>
      <h1>Details</h1>
      <table class="ui very basic very compact table">
        <tbody>
          <tr>
            <th>Hostname</th>
            <td style="word-wrap:break-word"><b>{{node.name}}</b></td>
          </tr>
          <tr>
            <th>Facts &nbsp;&nbsp;&nbsp;&nbsp;<i title='uploaded at' class=' upload icon'></i></th>
            <td rel="utctimestamp">{{node.facts_timestamp}}</td>
          </tr>
          <tr>
            <th>Catalog <i title='uploaded at' class=' upload icon'></i></th>
            <td rel="utctimestamp">{{node.catalog_timestamp}}</td>
          </tr>
          <tr>
            <th>Report &nbsp;<i title='uploaded at' class=' upload icon'></i></th>
            <td rel="utctimestamp">{{node.report_timestamp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='row'>
      <h1>Reports</h1>
      {{ macros.reports_table(reports, reports_count, report_event_counts, condensed=True, hash_truncate=True, show_conf_col=False, show_agent_col=False, show_host_col=False, current_env=current_env)}}
      <a href="{{url_for('reports_node', node_name=node.name)}}">Show All</a>
    </div>
  </div>
  <div class='column'>
    <h1>Facts</h1>
    {{macros.facts_table(facts, link_facts=True, condensed=True, current_env=current_env)}}
  </div>
</div>
{% endblock content %}
