{% extends 'layout.html' %}
{% block content %}

<p>Scroll to: <a href="#events">Events</a> , <a href="#logs">Logs</a> , <a href="#metrics">Metrics</a></p>

<h1>Summary</h1>
<table class='ui basic table'>
  <thead>
    <tr>
      <th>Certname</th>
      <th>Configuration version</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{url_for('node', env=current_env, node_name=report.node)}}">{{ report.node }}</a></td>
      <td>
        {{report.version|safe}}
      </td>
      <td rel="utctimestamp">
        {{report.start}}
      </td>
      <td rel="utctimestamp">
        {{report.end}}
      </td>
      <td>
        {{report.end - report.start}}
      </td>
    </tr>
  </tbody>
</table>

<h1 id="events">Events</h1>
<table id="events_table" class='ui basic compact fixed wrapped table'>
  <thead>
    <tr>
      <th class="four wide">Resource</th>
      <th class="two wide">Status</th>
      <th class="two wide">Changed From</th>
      <th class="eight wide">Changed To</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<h1 id="logs">Logs</h1>
<table id="logs_table" class='ui basic compact fixed wrapped table'>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Source</th>
      <th>Tags</th>
      <th>Message</th>
      <th>Location</th>
    <tr>
  </thead>
  <tbody>
    {% for log in logs %}
      {% if log.level == 'info' or log.level == 'notice' %}
        <tr class='positive'>
      {% elif log.level == 'warning' %}
        <tr class='warning'>
      {% else %}
        <tr class='error'>
      {% endif %}
        <td rel="utctimestamp">{{log.time}}</td>
        <td>{{log.source}}</td>
        <td>{{log.tags|join(', ')}}</td>
        {% if '\n' in log.message %}
          <td class="error_message"><pre>{{log.message}}</pre></td>
        {% else %}
          <td class="error_message">{{log.message}}</td>
        {% endif %}
        {% if log.file != None and log.line != None %}
          <td>{{log.file}}:{{log.line}}</td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<h1 id="metrics">Metrics</h1>
<table class="ui basic table compact">
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for metric in metrics %}
      <tr>
        <td>{{metric.category}}</td>
        <td>{{metric.name}}</td>
        <td>{{metric.value|round(2)}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block onload_script %}

// Init datatable
$.fn.dataTable.ext.errMode = 'throw';

var data = {{ events|tojson }}

var table = $('#events_table').DataTable({

    "data": data,
    'columns': [
        { data: 'resource' },
        { data: 'status' },
        { data: 'old' },
        { data: 'new' },
    ],

    "ordering": false,
    "paging": false,

    createdRow: function (row, data, index) {
        if (!data['failed'] && data['old'] != data['new']) {
            $(row).addClass('ui line changed');
        } else if (data['failed']) {
            $(row).addClass('ui line failed');
        } else {
            $(row).addClass('ui line ' + data['status']);
        }
    },
});

{% endblock onload_script %}
