{% extends 'layout.html' %}
{% block content %}
<h1>Summary</h1>
<table class='ui basic table'>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Configuration version</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{url_for('node', node_name=report.node)}}">{{ report.node }}</a></td>
      <td>
        {{report.version}}
      </td>
      <td rel="utctimestamp">
        {{report.start}}
      </td>
      <td rel="utctimestamp">
        {{report.end}}
      </td>
    </tr>
  </tbody>
</table>

<h1>Logs</h1>
<table class='ui basic table compact'>
  <thead>
    <tr>
      <th>Level</th><th>Source</th><th>Tags</th><th>Time</th><th>Message</th><th>File</th><th>Line</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
      <tr id='log-{{loop.index}}' class='ui line
        {% if log['level'] == 'err' %}
          failed
        {% elif log['level'] == 'warning' %}
          warning
        {% elif log['level'] == 'info' %}
          info
        {% endif %}
        '>
        <td>{{log['level']}}</td>
        <td>{{log['source']}}</td>
        <td>{{log['tags']|join(', ')}}</td>
        <td>{{log['time']}}</td>
        <td>{{log['message']}}</td>
        <td>{{log['file']}}</td>
        <td>{{log['line']}}</td>
      </tr>
    {% endfor %} 
  </tbody>
</table>

<h1>Events</h1>
<table class='ui basic table compact'>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Status</th>
      <th>Changed From</th>
      <th>Changed To</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    {% if not event.failed and event.item['old'] != event.item['new'] %}
      <tr id='event-{{loop.index}}' class='ui line changed'>
    {% elif event.failed %}
      <tr id='event-{{loop.index}}' class='ui line failed'>
    {% else %}
      <tr id='event-{{loop.index}}' class='ui line {{event.status}}'>
    {% endif %}
      <td>{{event.item['type']}}[{{event.item['title']}}]</td>
      <td>{{event.status}}</td>
      <td>{{event.item['old']}}</td>
      <td>{{event.item['new']}}</td>
    </tr>
    {#    <tr>
      <td class='message' colspan='4'>
        <div id='message-event-{{loop.index}}'>
          {{event.item['message']}}
        </div>
      </td>
    </tr>#}
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
{% block script %}
  <script type='text/javascript'>
    jQuery(function ($) {
      $("[rel=tooltip]").tooltip();
      $(".event").click(function() {
        $("#message-" + this.id).slideToggle(200);
        return false;
      });
    });
  </script>
{% endblock script %}
