body {
  padding-top: 60px;
}
th.headerSortUp {
  position: relative
}
th.headerSortDown {
  position: relative
}
th.header {
  position: relative
}
th.header:after {
  content: "\f0dc"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  float:right;
}
th.headerSortUp:after {
  content: "\f0de"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  float:right;
}
th.headerSortDown:after {
  content: "\f0dd"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  float:right;
}
.stat {
  margin-bottom: 40px;
}
.navbar .brand:hover {
  color: #fff;
}
.table tbody tr.error>td {
  background-color: #f2dede;
}
h1.error {
  color: rgb(223, 46, 27);
}
h1.success {
  color: #18BC9C;
}
h1.noop {
  color:#aaa;
}
tr.event {
  cursor: pointer;
}
td.message {
  padding: 0;
  border: 0;
  background-color: #FFFFE9;
}
div[id^='message-event'] {
  display: none;
  padding: 4px 15px 4px 15px;
}
.label-count {
  width:25px;
  text-align:center;
}
.label-time {
  width:73px;
  text-align:center;
}
.label-status {
  width:100px;
  text-align:center;
}
.label-nothing {
  background-color:#ddd;
  color:#ddd;
}
.label.label-failed {
  background-color: rgb(231, 76, 60);
}
.label.label-changed {
  background-color: rgb(24, 188, 156);
}
.label.label-unreported {
  background-color: rgb(231, 76, 60);
  background-color: rgb(129, 145, 146);
}
.btn-lastreport {
  width:100px;
}
.panel {
margin:0px
}
.panel.panel-primary {
background-color: rgb(255, 255, 255);
border: 1px solid transparent;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
border-color: rgb(44, 62, 80);
margin-bottom: 10px;
}
.panel-heading {
color: rgb(255, 255, 255);
background-color: rgb(44, 62, 80);
border-color: rgb(44, 62, 80);
padding:0px;
margin:0px;
}
.panel-title {
margin:0;
padding:3px;
font-size:16px;
line-height:140%;
}
.panel-title small {
    float:right;
    padding:4px;
    font-size:12px;
}
.panel-body {
padding:4px;
overflow:hidden;
display:none;
}

.param_label {
    width:40%;
    margin-right:10px;
    display:block;
    float:left;
    text-align:right;
    overflow:hidden;
    color:#666;
}
.param_value {
    width:48%;
    float:left;
}

.statusbar {
width:100%;
background-color:#eee;
height:15px;
overflow:hidden;
}
.statusbar span {
    width:40px;
    height:100%;
    display:block;
}
.statusbar .failures {
    background-color:#a00;
}
.statusbar .changes {
    background-color:#0a0;
}
.statusbar .noops {
    background-color:#aaa;
}
.event-sidebar {
    overflow:hidden;
    display:block;
    width:100%;
    margin:0px;
    padding:0px;
}
.event-sidebar a {
    color:#000;
}
.event-sidebar li {
    margin-bottom:5px;
    padding:7px;
    padding-top:2px;
    border:1px solid #fff;
    opacity:0.7;
}
.event-sidebar li:hover {
    border:1px solid #aaa;
    opacity:0.9;
}
.event-detail {
    font-weight:900;
    padding:10px;
    margin-bottom:5px;
}
.event-list-detail {
    padding:0px;
    margin:0px;
    padding-bottom:10px;
}
.event-detail h5 {
    font-weight:900;
    margin:0px;
    padding:5px;
}
.event-list-detail p {
    background-color:#dfdfdf;
    border:1px solid #aaa;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    font-weight:100;
    margin:0px;
    padding:5px;
}
.event-list-detail dl {
    background-color:#eee;
    margin:0px;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
}
.event-list-detail dt {
    font-weight:100;
    float:left;
    text-align:right;
    margin-right:10px;
    width:150px;
    padding:5px;
}
.event-list-detail dd {
    padding:5px;
    margin:0;
    border-bottom:1px solid #aaa;
}
