name: tests (unit)

# trigger on pushes to master OR PRs to master
# to prevent double tests on PRs within this repo
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10', 3.11]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade wheel setuptools
          python setup.py develop
          pip install -r requirements-test.txt
          mypy --install-types --non-interactive puppetboard/ test/
      - name: Test
        run: |
          pytest --cov=. --cov-report=xml --strict-markers --mypy -v puppetboard test
          pylint --errors-only puppetboard test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.3
        with:
          fail_ci_if_error: true

  security-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install bandit
      - name: Run bandit
        run: |
          bandit -r puppetboard

  tests:
    needs:
      - test
      - security-tests
    runs-on: ubuntu-latest
    name: Test suite
    steps:
      - run: echo Test suite completed
